@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* 
  do you know how root file works?
  this is usually use when gusto mo mag lagay ng variables here in css

  example:
*/
:root{
  
  /* font family */
  --poppins: 'Poppins', sans-serif;

  /* black is black but im not gonna use this */
  --Nero:#171717;
  /* #1c1c1c hmmmmm */
  --Eclipse:#404040;
  --Gray:#7f7f7f;
  --Silver:#bfbfbf;
  /* white is white */
}


@layer components{
  /* for global class */
  *{
    @apply scroll-smooth box-border;
  }

  .custom-section {
    @apply  h-screen;
  }
  /* rpofile card / landing page / main page / intHeader page */
  .icons {
    @apply w-5 h-5 text-cyber-easth-dark_cerulian ease-in hover:ease-out 
    duration-200 hover:text-cyber-easth-midnight_express hover:w-6 hover:h-6;
  }
  .navMenu {
    @apply text-white flex justify-center items-center hover:bg-red-DarkPastelRed 
    ease-linear duration-100 rounded-xl px-6 text-xl;
  }
  .navMenuIcon {
    @apply w-5 h-5
  }
  .searchBox {
    
  }
  .categorybtn {
    @apply flex flex-col justify-center items-center 
  }
  .welcomebtn {
    @apply my-5 h-20 w-full bg-AlluraRed rounded-full hover:bg-red-DarkPastelRed ease-linear duration-100 overflow-hidden 
  }
  .welcomebtntxt {
    @apply font-poppins font-medium text-2xl hover:text-red-Rosewood text-white font-medium text-xl
  }
  .featureItems {
    @apply bg-white w-72 h-72 
  }
  .welcomeAuth {
    @apply my-5 h-20 w-full bg-blueustom rounded-full ease-linear duration-100 flex  items-center
  }
  .welcomeAuthInp {
    @apply w-full bg-blueustom text-center text-white font-medium text-xl placeholder:text-white placeholder:font-medium placeholder:text-xl
  }
  .welcomeAuthIcon {
    @apply text-blueustom text-4xl
  }
  .shoppingCart {
    @apply text-white text-5xl
  }
  /* this sometimes not work. probably due to browser not compatible   */
  .categoryPic {
    @apply w-full h-full rounded-2xl object-cover
  }
  .categoryTitle {
    @apply text-2xl font-bold mt-10
  }
  .productNavtitl {
    @apply text-3xl font-bold mt-10
  }
  .productNavBtn {
    @apply text-2xl font-bold mt-4 hover:bg-AlluraRed hover:rounded-full px-3 py-2 text-start w-72
  }
  .profileinp {
    @apply h-10 w-96 my-5 mx-10 
  }
  .profiletext {
    @apply text-lg font-normal mx-10
  }
  
}

@layer base {
  body {
    margin: 0;
  }
  
}

@layer utilities {
  #root {
    /* margin: 100; */
  }
  /* .featuredBox {
    width: 100%;

  } */
  /* .categoryPic{
    width: 100%;
    height: 100%;
  } */
  .welcomePage {
    width: 1500px;
    height: 600px;
  }
  .aboutus {
    /* top: -100%; */
  }
  .productViewPic{
    width: 400px;
    height: 400px;
  }
  .productViewBox {
    height: 900px;
  }
  .profileimg {
    height: 400px;
    width: 400px;
  }
}
